PORT=3000
MONGO_URI=mongodb://localhost:27017/gestion_presence
JWT_SECRET=dev_secret_change_me
# Optional: if you want to verify Firebase ID tokens instead of local JWT
# FIREBASE_PROJECT_ID=presence-app-17353
# GOOGLE_APPLICATION_CREDENTIALS=/absolute/path/to/serviceAccount.json

